html {
	background-color: black;
	margin: auto;
}

body {
    text-align: center;
    color: white;
    font-family: 'Press Start 2P', cursive;
}

#logo {
	background: url(../images/frogger-logo.png);
	background-repeat: no-repeat;
  background-position: center;
  padding: 2.5em;
  background-size: 20em;
}

.stat-container {
  margin-top: 1.5em;
}

.flex-container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 0.5em;
}

.bug-image {
  background: url('../images/enemy-bug.png');
}

.rock-image {
  background: url('../images/rock.png');
}

.bug-image,
.rock-image {
  background-repeat: no-repeat;
  background-position: center;
  padding: 2.5em;
  background-size: 2.5em;
  background-position: right 1em bottom 1.5em;
}



.stat-num {
	color: yellow;
}

.level-block {
	color: red;
}

canvas {
	margin-top: -3em;
}






@import url(https://fonts.googleapis.com/css?family=Indie+Flower);

.popup {
  position:fixed;
  left:50vw;
  margin-left:35px;
  top:50vh;
  margin-top:-210px;
  opacity:0;
  transition:all 1s;
  -webkit-transition:all 1s;
}


.popup div {
  width:200px;
  font-size:20px;
  font-family: 'Indie Flower', cursive;
}

.popup div {
  padding:50px;
  background-color:black;
  border-radius:40px;
  color:white;
  text-align:center;
}


/* Gestion des évenements */

/*.button:hover ~.popup
{
  margin-left:45px;
  margin-top:-220px;
  opacity:1;
}*/

.yellow {
	color: yellow;
}

.red {
	color: red;
}